*.idea
*.iml
*.iws
*.ipr
out
.gradle
*.log
*.log.*
build
target
.DS_Store
results
.settings
.classpath
.project
/gradle-app.setting
bin
classes/
test-output
.checkstyle
*.orig
activemq-data
*.externalToolBuilders/
*.jtl
cobertura.ser
*.buildpath
myOutputPath
input_data
merge-log/src/test/resources/data
.vagrant
kafka
